body {
  font-family: $font-primary;
  color: $color-primary;
}
header {
  padding-bottom: 10%;
}
main {

  .image-container {
    @include image-container (50%);
  }

  img {
    width: $image-width-primary;
  }

  .dish {
    text-align: center;
  }
  .description {
    text-align: center;
    padding-bottom: 10%;
  }
}
footer {
  text-align: center;
  .author {
    white-space: nowrap;
    color: rgb(100, 101, 119);
  }
}

@media screen and (min-width: 480px) {
      .leftside-wrapper {width: 200px; float: left;}
      .dish {margin-left: 216px;}
      .description {margin-left: 216px;}
  }
}
