<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>1</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="main">
      I was walking to my car when I noticed my pants were on fire. I turned to my friend and said, "I think were going to need an oven and fast."
He grabbed me with his soggy fingers and said.. "Snap out of it, Man."
Then he proceeded to chant and walk in circles around me.
I looked down, My pants were still on fire, but by this time it had spread to my Uterus and three other ligaments. I was getting pretty agitated that no one seemed to care about my third degree burns, or my soon imminent death, but I went along with his plan still hoping he'd manage to save me through his voo-doo witchcraft.
After I came out of my trance from the fire I noticed that I was now in the kitchen of my grandma's house baking a cake..
    </div>
    <a href="index2.html">NEXT</a>
  </body>
</html>
