<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>14</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container14">
      <div class="initial">
        words
      </div>
      <div class="none">
        more words for this one
      </div>
      <div class="flex1">
        even more words because words are awesome
      </div>
      <div class="flex2">
        but some words are really really really mean so don't use them
      </div>
    </div>
    <div class="vertical-container">
      and if you use them know that you are considered the lowest of the low
      <div class="center">
        words can hurt but that's why we made tequila
      </div>
    </div>
    <a href="index.html">NEXT</a>
  </body>
</html>
