<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>10</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="clearfix10">
      <nav class="nav10">
        <li>Tequila</li>
        <li>Vodka</li>
        <li>Taco</li>
        <li>Burrito</li>
      </nav>
      <section class="section10">
        Austin has many attractions.
      </section>
      <section class="section10">
        Many of the events that occur in ATX are spnosored by alochol and food. Enjoy a long evening drunk on tequila while savoring a thick full burrito!
        <a href="index11.html">NEXT</a>
      </section>
    </div>
  </body>
</html>
