<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>11</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="box11">
    </div>
    <div class="boxes">
    </div>
    <a href="index12.html">NEXT</a>
  </body>
</html>
