body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #66d7b2, #bdfff3);
  color: #3f4455;
  font-family: Helvetica;
}

.nav-elem {
  color: #aaabac;
  font-size: 10px;
  float: left;
  display: inline-block;
  width: 12%;
  text-decoration: none;
  transition: 0.3s;
  font-weight: lighter;
}

.nav-elem:hover {
  color: #3f4455;
  font-weight: normal;
}

.wrap-container {
  margin-top: 60px;
}

.container {
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: #fcfcfc;
  width: 700px;
  height: 500px;
  margin-top: 50px;
  margin: 0 auto 100px;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0 0 25px 5px rgba(167, 167, 167, 0.2);
}

.slogan {
  color: #3f4455;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}

.cta {
  display: inline-block;
  font-weight: lighter;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 20px;
  letter-spacing: .8px;
  line-height: 20px;
  color: #505050;
}

.name-input {
  background: #FAFAFA;
  font-size: 14px;
  padding: 10px;
  border: none;
  color: #959595;
  border-bottom: solid 2px #5c5858;
  transition: border 0.3s;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.name-input:focus {
  outline: none;
  border-bottom: solid 2px #959595;
}

.btn-container {
  margin-top: 60px;
}
.start {
  font-weight: bolder;
  font-size: 10px;
  color: #66d7b2;
  transition: 0.5s;
  text-align: center;
  margin-top: auto;
  border-radius: 7px;
  background-color: inherit;
  border: #66d7b2 2px solid;
  padding: 5px 10px 5px 10px;
}
.start:hover {
  background-color: #66d7b2;
  color: #fcfcfc;
}
.question-header {
  color: #3f4455;
  font-size: 12px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-weight: light;
}

.answer-input {
  background: #FAFAFA;
  font-size: 12px;
  padding: 10px;
  border: none;
  color: #66d7b2;
  border-bottom: solid 2px #5c5858;
  transition: border 0.3s;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.answer-input:focus {
  outline: none;
  border-bottom: solid 2px #66d7b2;
}

.direction {
  font-weight: lighter;
  font-size: 10px;
  color: #aaabac;
  text-align: center;
  margin-top: auto;
  border-radius: 3px;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:  none;
  padding: 5px 32px 5px 32px;
  letter-spacing: 1.2px;
  transition: 0.3s;
}
.direction:hover {
  color: #3f4455;
  font-weight: normal;
}

.results {
  font-weight: lighter;
  line-height: 17px;
  margin: auto;
  font-size: 18px;
  color: #66d7b2;
  padding-bottom: 10px;
  list-style: none;
}
.total {
  color: #bdfff3;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 10px;
}
.wrapped {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
}
